# Typical Python / Virtual environment files
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# IDE development environment
.vscode/
.idea/

# Files with sensitive deployment config data (Strictly ignored)
.env
.env.local
secret_keys.json

# System log files and zRAM dumps (if saved locally)
*.log
